@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Roboto:300');

.scContainer{
	width: 100%;
	padding-top: 5%;
}

.scHeader{
	color: #9d6dcd;
	font-family: Yataghan-Regular;
	text-align: center;
	font-size: 50px;
	font-weight: 700;
}

.scImaCon{
	background-color: lightgrey;
	height: 500px;
	width: 1400px;
	margin-top: 20px;
	margin-bottom: 50px;
	margin-left: auto;
	margin-right: auto;
}

.scImaCon > img{
	position: absolute;
	margin: auto;
	height: 500px;
	width: 1400px;
}

.scContent{
	width: 70%;
  font-size: 20px;
  text-align: center;
  margin: 10px auto;
  font-family: 'Lato', sans-serif;
}

.depressionClass{
	display: block;
	margin: 0 auto;
}
