.outer{
  position: relative;
  top:100px;
}
body {
  height: 100%;
}

body {
  margin: 0px;
  width: 100%;
}

.wrapper {
  height: 100%;
  width: 100%;
  background-color: grey;
}



.content {
  width: 90%;
  margin: 0 auto;
  padding-top: 20px;
}

.item {
  height: 100%;
  border-bottom-style: solid;
  border-color: #e0e0e0;
  width: 90%;
  margin: 0 auto;
}

.item a:hover {
  color: #0091EA;
  transition: color .10s linear;
}

.item:hover {
  border-bottom-style: solid;
  border-color: #0091EA;
  transition: border-color .50s linear;
  color: blue;
}

.item a {
  text-align: center;
  margin: 0px;
  padding-top: 5px;
  padding-bottom: 5px;
  display: block;
  text-decoration: none;
  color: black;
  font-family: 'Roboto', sans-serif;
}

#menuContent {
  background-color: #f5f5f5;
  padding: 15px;
  font-family: 'Roboto', sans-serif;
}

#mainMenu {
  position: relative;
  background-color: #e0e0e0;
}

#mainMenu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 60%;
}

.highlighted {
  border-color: #0091EA;
}

.highlighted a {
  color: #0091EA !important;
}

#mainMenu li {
  float: left;
  width: 33.33%;
  overflow: hidden;
}

.clear {
  clear: both;
}

@media (max-width: 600px) {
  #mainMenu ul {
    width: 100%;
  }
}

@media (max-width: 400px) {
  #mainMenu li {
    float: none;
    width: 100%;
  }
  .content {
    width: 95%;
    padding-top: 9px;
  }
}
