@import url('https://fonts.googleapis.com/css?family=Roboto');
   
.outer{
	background-color:#001030;
	padding-bottom: 450px;
}

.cards{
	display:inline-block;
	padding: 7px;
}

.t1{
	list-style: none;
	position: relative;
	display: inline-block;
	top:100px;
	left: 100%;
	width: 250px;
	height: 150px;
	background-color:grey;
	text-align: center;
}
	
.text{
	position:relative;
	top:50px;
	text-align: center;
	font-family: Futura, Trebuchet MS, Arial, sans-serif;
	color:white;
	font-size: 1em;
}

.titiletext{
	position: relative;
	text-align: center;
	font-size: 30px;
	top: 75px;
	color:white;
}

#w1{
	position: relative;
	background-size:250px 150px;
	margin: auto auto;
	background-repeat: no-repeat;
	filter: grayscale(100%);
	transition:all 1s;
	border-radius: 10%;
}

#w1:hover{
	width:300px;
	height:200px;
	top:75px;
	left: 75%;
	background-color:grey;
	background-size: 300px 200px;
	filter:grayscale(0%);
	
}
