@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Roboto:300');

.workshopContainer{
	width: 100%;
	padding-top: 10%;
}

.workshopHeader{
	text-align: center;
	font-size: 50px;
	font-weight: 700;
	font-family: Yataghan-Regular;
	color: #b1ff64;
}

.workshopContent{
  font-size: 40px;
  text-align: center;
  margin-top: 50px;
  font-family: 'Lato', sans-serif;
}

.workshopList{
	font-family: 'Lato', sans-serif;
	height: auto;
	margin-top: 20px;
}

.workshopOne{
	margin-top: 30px;
	margin-left: 350px;
	width: auto;
	display: inline-flex;
}

.workshopImage{
	background-color: lightgrey;
	height: 250px;
	width: 250px;
}

.workshopName{
	color: #9d6dcd;
	height: auto;
	font-size: 30px;
	margin-left: 50px;
	margin-top: 20px;
}

.speakerAndShit{
	margin-top: 40px;
	margin-left: 50px;
	font-style: italic;
}

.workshop1{
	text-align: center;
	font-family: Audimat;
	font-size: 40px;
}