@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Roboto:300');

.workshopOneContainer{
	width: 100%;
	height: 900px;
	margin-top: 60px;
}

.workshopOneHeader{
	text-align: center;
	font-family: 'Raleway', sans-serif;
	font-size: 50px;
	font-weight: 700;
	margin-top:50px;
}

.workshopOneContent{
  font-size: 20px;
  text-align: center;
  margin-top: 10px;
  font-family: 'Roboto', sans-serif;
}

.workshopOneList{
	font-family: 'Roboto', sans-serif;
	height: auto;
	margin-top: 20px;
}

.workshopOneRegister{
	font-family: 'Roboto', sans-serif;
	border:2px solid #B1FF64;
	height:30px;
	width:200px;
	text-align:center;
	margin-top: 30px;
	margin-left: 600px;
	color: #B1FF64;
	line-height:30px;	
}

.WorkshopOneBasket{
	width:100%;
	display:inline-flex;
	margin-top:20px;
	margin-left:400px;
}

.workshopOne0{
	font-family: 'Roboto', sans-serif;
}

.workshopOne1{
	font-family: 'Roboto', sans-serif;
	margin-left:50px;
}

.workshopOne2{
	font-family: 'Roboto', sans-serif;
	margin-left:50px;
}

.workshopOne3{
	font-family: 'Roboto', sans-serif;
	margin-left:50px;
}

.workshopName{
	height: auto;
	font-size: 30px;
	margin-left: 50px;
	margin-top: 20px;
}

.speakerAndShit{
	margin-top: 40px;
	margin-left: 50px;
	font-style: italic;
}

.workshopDetailContent{
	border:1px solid black;
	font-family: 'Roboto', sans-serif;
	font-size:20px;
	margin-left:200px;
	width:70%;
	margin-top:30px;
	text-align:center;
}

.cursor{
	cursor:pointer;
}