@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Roboto:300');

.eventOneContainer{
	padding-top: 12%;
	height: 100%;
}

.eventOneHeader{
	color: white;
	text-align: center;
	font-size: 50px;
	font-weight: 700;
	font-family: Audimat;
}

.eventOneRegister{
	margin: 0 auto;
	cursor: pointer;
	font-family: 'Lato', sans-serif;
	border:2px solid #B1FF64;
	height:30px;
	width:200px;
	text-align:center;
	margin-top: 30px;
	color: #B1FF64;
	line-height:30px;	
}

.eventOneBasket{
	color: white;
	text-align: center;
	margin-top:20px;
}

.eventOneLine{
	display: inline-flex;
}

.eventOne0{
	cursor: pointer;
	font-family: 'Lato', sans-serif;
	border: 2px solid white;
	padding: 20px;
	width: 80px;
	transition: 0.3s color, 0.3s border, 0.3s box-shadow;
	border-radius: 10px;
}

.eventOne0:hover{
	border: 2px solid #b1ff64;
	color: #b1ff64;
	box-shadow: 0px 4px 10px #b1ff64;
}

.eventOne1{
	cursor: pointer;
	font-family: 'Lato', sans-serif;
	margin-left:50px;
	border: 2px solid white;
	padding: 20px;
	width: 80px;
	transition: 0.3s color, 0.3s border, 0.3s box-shadow;
	border-radius: 10px;
}

.eventOne1:hover{
	border: 2px solid #b1ff64;
	color: #b1ff64;
	box-shadow: 0px 4px 10px #b1ff64;
}

.eventDetailContent{
	color: white;
	font-family: 'Lato', sans-serif;
	font-size:20px;
	margin: 0 auto;
	width:70%;
	margin-top:30px;
	text-align:center;
}

.cursor{
	cursor:pointer;
}

body{
	background: linear-gradient(rgb(25,29,34),rgb(30,34,39),rgb(36,41,47));
}