@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Roboto:300');

a{
	text-decoration: none;
	color: #B1FF64 !important;
}

.eventOneContainer{
	padding-top: 12%;
	height: 100%;
}

.eventOneHeader{
	color: white;
	text-align: center;
	font-size: 50px;
	font-weight: 700;
	font-family: Audimat;
}

.eventOneRegister{
	margin: 0 auto;
	cursor: pointer;
	font-family: 'Lato', sans-serif;
	border:2px solid #B1FF64;
	font-size:30px;
	height:40px;
	width:200px; 
	text-align:center;
	margin-top: 12px;
	color: #B1FF64;
	line-height:40px;
}

.eventOneBasket{
	color: white;
	text-align: center;
	margin-top:20px;
}

.eventOneLine{
	display: inline-flex;
}

.eventOne0{
	cursor: pointer;
	font-family: 'Lato', sans-serif;
	border: 2px solid white;
	padding: 20px;
	width: 80px;
	transition: 0.3s color, 0.3s border, 0.3s box-shadow;
	border-radius: 10px;
}

.eventOne0:hover{
	border: 2px solid #b1ff64;
	color: #b1ff64;
	box-shadow: 0px 4px 10px #b1ff64;
}

.eventOne1{
	cursor: pointer;
	font-family: 'Lato', sans-serif;
	margin-left:50px;
	border: 2px solid white;
	padding: 20px;
	width: 80px;
	transition: 0.3s color, 0.3s border, 0.3s box-shadow;
	border-radius: 10px;
}

.eventOne1:hover{
	border: 2px solid #b1ff64;
	color: #b1ff64;
	box-shadow: 0px 4px 10px #b1ff64;
}

.eventDetailContent{
	color: white;
	font-family: 'Lato', sans-serif;
	font-size:20px;
	margin: 0 auto;
	width:70%;
	margin-top:15px;
}

.cursor{
	cursor:pointer;
}

body{
	background: linear-gradient(rgb(25,29,34),rgb(30,34,39),rgb(36,41,47));
}


.clubNAME{

	color: cyan;
	font-size: 40px;

}

.centerAligned{
	text-align:center;
}

.container {
  width: 100%;
  height: 100%;
}

.interior {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.btn {
  background-color: #4C8577;
  padding: 1em 3em;
  border-radius: 5px;
  text-decoration: none;
}

.modal-window {
  position: fixed;
  background-color: rgba(255, 255, 255, 0.15);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.modal-window:target {
  opacity: 1;
  pointer-events: auto;
}

.modal-window>div {
  width: 400px;
  position: relative;
  border-radius: 5px;
  margin: 10% auto;
  padding: 2rem;
  background: #4C8577;
  color: #fff;
}

.modal-window header {
  font-weight: bold;
}

.modal-close {
  color: #aaa;
  line-height: 50px;
  font-size: 80%;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  width: 70px;
  text-decoration: none;
}

.modal-close:hover {
  color: #000;
}

.modal-window h1 {
  font-size: 150%;
  margin: 0 0 15px;
}