@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Ubuntu');

.out{
  width: 100%;
  height: 100%;
  border: 1px solid white;
}

.con1{
	display: flex;
	background-color:;
	flex-wrap: wrap;
	height:auto;
	width: auto;
	justify-content:center;
	align-items:center;
	margin-left: 80px;
	margin-right: 80px;
	margin-top: 5px;
	margin-bottom: 120px;
}

.con1 > div{
	background-color: #f1f1f1;
	width: 300px;
	height:180px;
	margin: 10px;
}

.con1 > div >img{
	position: relative;
	width: 300px;
	height:180px;
}

.titext{
	color: #9d6dcd;
	position: relative;
	text-align: center;
	font-size: 50px;
	margin-top: 50px;
  	font-family: Yataghan-Regular;
}

.comingSoon{
  padding-top: 5%;
  margin-left: 36%;
	font-size: 30px;
	font-family: 'Lato', sans-serif;
	text-align: center;
}

/* Animations */

.intro {
	font: normal 40px/50px 'Ubuntu', sans-serif;
	color: white;
}
.intro p {
  	float: left;
}
.intro b {
  	float: left;
  	overflow: hidden;
  	position: relative;
  	height: 50px;
}
.intro .inner-intro {
  	display: inline-block;
  	color: #000000;
  	position: relative;
  	white-space: nowrap;
  	top: 0;
  	left: 0;


/*animation*/
-webkit-animation:move 5s;
   -moz-animation:move 5s;
    -ms-animation:move 5s;
     -o-animation:move 5s;
        animation:move 5s;
/*animation-iteration-count*/
-webkit-animation-iteration-count:infinite;
   -moz-animation-iteration-count:infinite;
    -ms-animation-iteration-count:infinite;
     -o-animation-iteration-count:infinite;
        animation-iteration-count:infinite;
/*animation-delay*/
-webkit-animation-delay:1s;
   -moz-animation-delay:1s;
    -ms-animation-delay:1s;
     -o-animation-delay:1s;
        animation-delay:1s;
}
@keyframes move{
0%  { top: 0px; }
20% { top: -50px; }
40% { top: -100px; }
60% { top: -150px; }
80% { top: -200px; }
}

@-webkit-keyframes move {
    0%  { top: 0px; }
    20% { top: -50px; }
    40% { top: -100px; }
    60% { top: -150px; }
    80% { top: -200px; }
}
@-moz-keyframes move {
    0%  { top: 0px; }
    20% { top: -50px; }
    40% { top: -100px; }
    60% { top: -150px; }
    80% { top: -200px; }
}
@-o-keyframes move {
    0%  { top: 0px; }
    20% { top: -50px; }
    40% { top: -100px; }
    60% { top: -150px; }
    80% { top: -200px; }
}
@keyframes move {
    0%  { top: 0px; }
    20% { top: -50px; }
    40% { top: -100px; }
    60% { top: -150px; }
    80% { top: -200px; }
}