@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Ubuntu');

.out{
	background: linear-gradient(rgb(25,29,34),rgb(30,34,39),rgb(36,41,47));
	padding-top: 6.5%;
  width: 100%;
  height: 100%;
}

.titext{
	color: #b1ff64;
	position: relative;
	text-align: center;
	font-size: 50px;
	margin-top: 50px;
  	font-family: Yataghan-Regular;
}

.sponsors{
	color: #b1ff64;
	text-align: center;
}

.sponsGrid{
	display: inline-flex;
}

.sponsBox{
}

.sponsHeader{
	text-align: center;
	font-size: 18px;
	color: grey;
	font-family: "Roboto";
}


.box2{
	padding-left: 50px;
	margin-top: 95px;
}
.inlineBoxes{
	display: inline-flex;
}

.radio{
	padding-top: 5%;
	padding-left: 2%;	
}

.radioHeader{
	margin-top: 13.5%;
}

.super{
	padding-left: 4%;
}


.grid2{
	padding-top: 5%;
}

.know{
	margin-left: 2%;
}

.brain{
	margin-left: 2%;
}

.bank{
	margin-left: -15%;
}

.symrise{
	margin-top: 10%;
	margin-left: -2%;
}