@import url('https://fonts.googleapis.com/css?family=Raleway');

.cultEventsContaier{
	padding-top: 5%;
}

.culteventsGrid{
	width: 100%;
	height: 100%;
}

.cultEventBlock{
	border-radius: 10px;
	margin-left:20px;
	width: 200px;
	height: 200px;
	background: linear-gradient(#332354,#9d6dcd);
	color: #b1ff64;
	font-size: 25px;
	text-align: center;
	font-family: Yataghan-Regular;
	line-height: 200px;
	transition: width 0.3s, height 0.3s, margin-left 0.3s, background 0.3s, line-height 0.3s,color 0.3s;
}

.cultEventBlock:hover{
	color: black;
	margin-left:0px;
	height: 300px;
	width: 300px;
	line-height: 300px;
	background: lightgrey;
}

.blocks{
	width: 100%;
	margin-top: 20px;
	text-align: center;
}