@import url('https://fonts.googleapis.com/css?family=Raleway');

.techEventsContaier{
	padding-top:11%;
	min-height: 100%;
	position: relative;
	background: radial-gradient(rgb(49,58,66),rgb(40,50,60),rgb(30,40,45));
}

.eventsGrid{
	width: 100%;
	height: 100%;
}

.techEventBlock{
	border-radius: 10px;
	margin-left: 20px;
	width: 200px;
	height: 200px;
	background: linear-gradient(#332354,#9d6dcd);
	color: #b1ff64;
	font-size: 25px;
	text-align: center;
	font-family: Yataghan-Regular;
	transition: width 0.3s, height 0.3s, margin-left 0.3s, line-height 0.3s,color 0.3s;
}

.techEventBlock:hover{
	margin-left:0px;
	height: 300px;
	width: 300px;
}

.techblocks{
	width: 100%;
	margin-top: 20px;
	text-align: center;
}

.techEventBlock:hover .eventName{
	opacity: 1;
}

.blockLine{
	display: inline-flex;
	padding-bottom: 50px;
}

.cauldron{

}

.eventName{
	font-family: Yataghan-Regular;
	color: white;
	font-size: 40px;
}

.paddingCont{
	padding-right: 150px;
	padding-left: 150px;
}