@import url('https://fonts.googleapis.com/css?family=Roboto');

.mobileout{
	border: 0.1px solid white;
}

.mobilecon1{
	display: flex;
	background-color:;
	flex-wrap: wrap;
	height:auto;
	width: auto;
	justify-content:center;
	align-items:center;
	margin-left: 80px;
	margin-right: 80px;
	margin-top: 5px;
	margin-bottom: 120px;
}

.mobilecon1 > div{
	background-color: #f1f1f1;
	width: 300px;
	height:180px;
	margin: 10px;
}

.mobilecon1 > div >img{
	position: relative;
	width: 300px;
	height:180px;
}

.mobiletitext{
	position: relative;
	text-align: center;
	font-size: 50px;
	margin-top: 100px;
  	font-family: Yataghan-Regular;
	border-bottom: 4px solid #9d6dcd;
    border-top: 4px solid #9d6dcd;
    background-color: #332354;
    color: #9d6dcd;
}

.mobilesponsors{
	margin-top: 40px;
}