@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Roboto:300');

.eventsContainer{
  margin-top: 60px;  
  width: 100%;
  height: auto;
}

.eventsHeader{
  text-align: center;
  font-size: 50px;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-family: Yataghan-Regular;
  color: #9d6dcd;
}

.eventsContent{
  font-size: 20px;
  text-align: center;
  margin-top: 10px;
  font-family: 'Roboto', sans-serif;
}

.techAndCult{
  margin-top: 20px;
  margin-left: 27%;
  display: inline-flex;
}

.tech{
  border: 2px solid black;
  height: 400px;
  width: 320px; 
}

.cult{
  margin-left: 5%;
  border: 2px solid black;
  height: 400px;
  width: 320px; 
}

.techFooter{
  font-family: 'Roboto', sans-serif;
  text-align: center;
  font-size: 20px;
  border: 2px solid black;
}