@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Roboto:300');

.eventsContainer{
    width: 100%;
    height: auto;
    margin-top: 80px;
}

.eventsHeader{
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 40px;
    font-weight: 700;
}
.eventsContent{
    text-align: center;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    margin-top: 10px;
}
.techAndCult{
    margin-top: 50px;
    width: 100%;
    height: auto;
    display: inline-flex;
}

.tech{
    cursor: pointer;
    position: relative;
    width: 25%;
    border: 1px solid white;
    margin-left: 22%;
}

.cult{
    cursor: pointer;
    position: relative;
    width: 25%;
    border: 1px solid white;
    margin-left: 5%;
}

.image1{
    background: black;
    border: 1px solid black;
    display: block;
    width: 100%;
    height: 400px;
}

.overlay1{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #C9EDDC;
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
}

.tech:hover .overlay1 {
  height: 18%;
}

.cult:hover .overlay1 {
  height: 18%;
}

.textOverlay {
  color: black !important;
  font-family: Futura, Trebuchet MS, Arial, sans-serif;
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}