@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Roboto:300');
@import url('https://fonts.googleapis.com/css?family=Lato');

@font-face {
    font-family: Yataghan-Regular;
    src: url('../Fonts/Yataghan-Regular.otf');
}

.mainContainer{
	padding-top: 3.8%;
	min-height: 100%;
}

.headContainer{
	background: linear-gradient(#332354,#9d6dcd);
	border: 0.1px solid #332354;
	height: 615px;
	width:100%;
}
.titleText{
	margin-top: 150px;
	text-align: center;
	font-size: 70px;
	font-family: Yataghan-Regular;
	color: #b1ff64;
}
.aboutUs{
	display: inline-flex;
	width: 100%;
	height: 615px;
}
.leftSide{
	width: 50%;
	min-height: 540px;
	background-color: lightgrey;
}
.rightSide{
	background-color: white;
	width: 50%;
	min-height: 540px;
}
.leftSideText{
	margin-top: 170px;
	text-align: center;
	font-size: 50px;
	font-family: 'Lato', sans-serif;
}
.rightSideHeaderText{
	font-weight: 400;
	margin-left: 50px;
	margin-top: 50px;
	font-size: 40px;
	font-family: Yataghan-Regular;
	color: #9d6dcd;
}
.rightSideContainerText{
	font-family: 'Lato', sans-serif;
	font-size: 20px;
	width: 600px;
	margin-left: 50px;
	margin-top: 50px;
}
.stats{
	display: inline-flex;
	width: 600px;
	margin-left: 50px;
	margin-top: 50px;
}
.circle1{
	margin-left: 60px;
	width: 120px;
	height: 120px;
}
.circleStat{
	background-color: #b1ff64;
	width: 100px;
	height: 100px;
	border-radius: 50%;
	margin-left: 15px;	
}
.statName{
	white-space: nowrap;
	font-family: 'Lato', sans-serif;
	text-align: center;
	margin-top: 10px;
	margin-right:20px; 
}
.joinUs{
	height: 350px;
	width: 50%;
}
.joinText{
	color: #9d6dcd;
	margin-top: 70px;
	text-align: center;
	font-size: 40px;
	font-family: 'Lato', sans-serif;
}
.registerBtn{
	color: #9d6dcd;
	width: 200px;
	height: 50px;
	border: 2px solid #9d6dcd;
	margin: auto;
	margin-top: 30px;
	text-align: center;
	font-family: 'Lato', sans-serif;
	font-size: 20px;
	line-height: 50px;
	cursor: pointer;
}

.lowerTitleText{
	font-family: 'Lato', sans-serif;
	font-size: 25px;
	color: #b1ff64;
	text-align: center;
}