@import url('https://fonts.googleapis.com/css?family=Roboto');
.footer{
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 50px;
	background: rgb(29,34,39);
	display: inline-flex;
	
}

.socialLinks{
	height: 100%;
}

.icons{
	height: 100%;
	
}

.socialIcons{
	line-height: 45px;
}

.icon1{
	display: inline;
	margin-left: 20px;
	height: 100%;
}

.copyright{
	color: white;
	font-family: 'Lato', sans-serif;
	display: inline-flex;
	margin-left: 70%;
}

.copyrightText{
	padding-top: 12px;
	font-size: 20px;
}

.copyrightIcon{
	padding-top: 14px;
	padding-right: 5px;
}