@import url('https://fonts.googleapis.com/css?family=Roboto');

.mobileFooterContainer{
display: inline-flex;
  width: 100%;
  background: #332354;
  border-bottom: 4px solid #9d6dcd;
  height: 45px;
}
.mobileFooterNav{
	width: 100%;
	height: 100%;
}
.mobileUl1{
	list-style-type: none;
	display: inline-flex;
	letter-spacing: 30px;
	margin-top: 5px;
	height: 100%;	
}
.fa{
	margin-top: 3px;
}

.mobileSocialIcons{
	margin-left: -18px;
}

.mobileWebOps{
	margin-right: 10px;
	line-height: 45px;
	color: white;
	white-space: nowrap;
	font-family: Futura, Trebuchet MS, Arial, sans-serif;
}