body {
  background: white;
  overflow-x: hidden;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: rgb(25,29,34);
  z-index: 1;
  height: 130px;
  box-shadow: 0px 1px 10px black;
}

nav ul {
  margin-top: 0px;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
@media all and (min-width: 545px) {
  nav ul {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
}
nav ul li {
  display: none;
}
@media all and (min-width: 545px) {
  nav ul li {
    display: block;
  }
}
nav ul a {
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-family: Futura, Trebuchet MS, Arial, sans-serif;
  font-size: 0.7em;
  color: #FEFCFB;
  text-align: center;
  padding: 14px 30px;
  -webkit-transition: background 0.25s, -webkit-box-shadow 0.15s;
  transition: background 0.25s, -webkit-box-shadow 0.15s;
  transition: background 0.25s, box-shadow 0.15s;
  transition: background 0.25s, box-shadow 0.15s, -webkit-box-shadow 0.15s;
}
nav ul a:hover {
  color: #FEFCFB;
  background: rgb(36,41,47);
  -webkit-box-shadow: 0px 4px 0px 0px #b1ff64;
          box-shadow: 0px 4px 0px 0px #b1ff64;
}
@media all and (min-width: 545px) {
  nav ul a {
    padding: 20px;
  }
}
